# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Hugging Face cache
hf_cache/
hf_home/
st_cache/

# Local configuration
.env
.env.local
poetry.lock

# FAISS index files
*.index

# Logs
*.log

# Token files (to avoid accidentally committing tokens)
config.py
